/* ------------------------------
   Base Styles
   ------------------------------ */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.row {
    flex: 1;
}

/* ------------------------------
   Media Queries
   ------------------------------ */
@media (min-width: 769px) {

    .main-header,
    .main-nav,
    .row,
    .col {
        /* grouping means items in main-hav are now flex items */
        display: flex;
    }

    main-header {
        flex-direction: column;
        align-items: center;
    }

    .col {
        flex: 1;
        /* flex: 1 50% --> targets flex basis */
        display: flex;
        flex-direction: column;
    }

    .button {
        margin-top: auto;
        /* puts buttons to bottom */
        /* align-self: flex-start; */
        /* flex-end */
        margin-left: 20%;
        margin-right: 20%;
        justify-content: center;
        white-space: nowrap;
    }

    /*    .row {
        flex-wrap: wrap;
    }   this was used prior, but once we got to the aligning part with 3 columns, this isn't in the code*/
}

@media (min-width: 1025px) {
    .main-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .col {
        flex-basis: 0;
        flex-direction: column;
    }


    /* alternate method that keeps flex 2 for primary, 
   equally I can use 1 for each 

    .primary {
        flex: 2;
    }
    .secondary {
        flex: 1;
    }
    .tertiary {
        flex:1;
    }
*/
}