/* base layers */
@font-face {
    font-family: 'Dancing Script';
    src: url('/fonts/DancingScript-VariableFont_wght.ttf') format('truetype'); 
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}
* {
    box-sizing: border-box;
}
body {
    font-size: 1.35em;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    background: #fafafa; /* #e8e9e9; */
}
.container {
    padding: 10px;
}
#wrapper {
    background: #f5f5f5;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.links {
    font-size: 1em;
    text-transform: uppercase;
}
.name {
    margin-top: 3%;
}
h1 {
    font-size: 1em;
    text-align: center;
}
h1.port, h1.foot {
    text-transform: uppercase;
    padding: 2em;
}
ul li {
    color: #fff;
    padding: 15px;
    margin: 5px;
    text-transform: uppercase;
    list-style-type: none;
    font-size: .60em;
    font-weight: bold;
}
/*  
    ul background: #ffecf2;  
    background: #3db5da;
    border-radius: 3px;
*/
a {
    text-decoration: none;
}
ul, section, .pt, .navfoot {
    display: flex;
}
ul {
    justify-content: center;
    padding-left: 0;
}
a:link {
    color: #000;
}
a:visited {
    color: #000;
}
p {
    font-family: 'Dancing Script';
    color: #000;
}
section {
    flex-direction: row;
}
section p, footer p {
    font-family: 'Roboto';
    font-weight: 200;
}
h3 {
    font-family: 'Open Sans', serif;
    font-weight: 400;
    text-align: center;
}
h3, p {
    padding: 0 10px;
}
main p {
    text-align: center;
}
.info {
    font-weight: 400;
}
footer {
    background: #f5f5f5;
    text-align: center;
    padding-bottom: 20px;
}
.footlinks {
    text-transform: uppercase;
}
.topfoot {
    padding-bottom: 10px;
}
/* .navfoot {
    display: flex;
    font-weight: 500;
}*/



@media screen and (min-width: 768px) {
    .pro {
        padding-right: 30px;
        width: 300px;
        height: 180px;
    }
    .pt {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .item, img {
        max-width: 300px;
        height: auto;
    }
    .item {
        margin: 5px;
        justify-content: center;
    }
    .navfoot {
        flex-direction: row;
        align-items: center;
        padding: 0 1em;
    }
    .footname {
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px) {
    .item {
        flex-basis: 0;
    }
    header {
        display: flex;
        flex-direction: row;
    }
    .name {
        margin-right: auto;
    }
}
