/* base layers */
@font-face {
    font-family: 'Dancing Script';
    src: url('/fonts/DancingScript-VariableFont_wght.ttf') format('truetype'); 
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}
* {
    box-sizing: border-box;
}
body {
    background-image: url("../images/whitebricks.jpg"); 
}
header, ul, section  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
ul {
    padding-bottom: 10px;
}
ul li {
    padding: 5px 0;
    background: white;
    width: 100vw;
    margin: 2px;
    padding: 2px 50px;
    text-transform: uppercase; 
    font-family: 'Open Sans';
    font-weight: 650;
    font-size: 10px;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
#wrapper {
    background: #F5F5F5;
    padding: 10px;
}
.pro {
    width: 200px;
    order: -1;
    padding-top: 20px;
}
.port {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    padding: 20px;
}
.pt {
    text-align: center;
    align-items: center;
    margin: 10px;
    padding-bottom: 10px;
}
.pt img {
    width: 300px;
}
.pt p {
    font-family: 'Dancing Script';
    font-size: 20px;
}
p {
    padding: 0 10px;
}
footer {
    background: #F5F5F5;
    text-align: center;
    padding: 20px;
}
footer ul {
    display: none;
}
.info {
    font-weight: 600;
}
.topfoot {
    padding-bottom: 40px;
}
h1.foot {
    font-size: 18px;
    text-transform: uppercase;
}
a.top {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
div.bottomfoot {
    display: flex;
    flex-direction: row;
    align-items: center;
}
h1.footname {
    font-size: 20px;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:  10vw;
    }
    ul li {
        background: #F5F5F5;
        padding: 10px;
    }
    section {
        flex-direction: row;
        margin: 2%;
    }
    .pro {
        order: 0;
    }
    .pt {
        display: flex;
        flex-wrap: wrap;
    }
    .item {
        max-width: 45%;
        margin: 0 auto;
    }
    .topfoot {
        padding: 1% 21%;
    }
    .phone {
        padding-top: 5%;
    }
    footer ul {
        display: flex;
        flex-direction: row;
    }
    .navfoot {
        width: 35vw;
        padding-bottom: 0;
    }
    h1.footname {
        font-size: 15px;
        white-space: nowrap;
    }
    .top {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
    }
    .name {
        margin-right: auto;
        font-size: 30px;
    }
    ul {
        margin-right: 150px;
    }
    ul li {
        font-size: 15px;
    }
    .item {
        flex-basis: 0;
    }
    .pro {
        width: 400px;
    }
    .bottomfoot {
        padding: 10px 30px 5px;
    }
    .navfoot {
        width: 35vw;
        padding-bottom: 0;
        margin: 0;
    }
}
