/* type selectors */
p {
  color: olive;
  font-size: 26px;
}
header {
  background-color: orange;
}
header p {
  background-color: snow;
  border-bottom: 1px solid gray;
}
footer {
  background-color: lightcoral;
}
a:link { 
  color: darkblue;
  background-color: peachpuff;
  text-decoration: none;
}
a:visited {
  color: seagreen;
}
a:hover {
  text-decoration: underline;
}
/* turn links white with an orange background when they receive focus */
a:focus {
  color: white;
  background-color: orange;
}
ol li {
  letter-spacing: 3px;
  color: tomato;
}
/*
 ol li:first-child {
  font-weight: bold;
} 
*/
ul li {
  list-style: none; 
}
/* ID selectors */
#education {
  border: 3px solid red; 
}
#education h3 {
  font-family: Arial, sans-serif;
  font-size: 32px;
}
#skills-list {
  background-color: aliceblue;
  padding: 36px;
}
/* class selectors */
.top-skill {
  font-weight: bold;
  background-color: teal;
  color: papayawhip;
}
.date {
  border: 2px solid steelblue;
  border-radius: 12px;
  padding: 6px;
}
.special {
  text-transform: uppercase;
  background-color: papayawhip;
}
#proud {
  font-size: 48px;
}









